:root {
    --color-2: #f8f8f8; 
    --color-3: #000; 
    --color-4: #000; 
    --color-5: #e7e7e7; 
    --color-6: #000; 
    --color-8: #808080; 
    --color-9: #808080; 
    --instagram: #000; 
    --facebook: #000; 
    --twitter: #000; 
    --linkedin: #000; 
    --instagram-hover: #808080; 
    --facebook-hover: #808080; 
    --twitter-hover: #808080; 
    --linkedin-hover: #e7e7e7; 
}
