.SC_footer {
    background-color: var(--color-2);
    color: var(--color-4);
    padding: 20px 0;
    text-align: center;
}


.SC_logo img {
    vertical-align: middle;
}


.SC_menu {
    margin-top: 20px;
}

.SC_footer-menu {
    list-style: none;
    padding: 0;
}

.SC_footer-menu li {
    display: inline-block;
    margin-right: 20px;
}

.SC_footer-menu li:last-child {
    margin-right: 0;
}

.SC_footer-menu li a {
    color: var(--color-4);
    text-decoration: none;
}

.SC_footer-menu li a:hover {
    text-decoration: underline;
}


.SC_social-media {
    margin-top: 30px;
}

.SC_social-media-icons {
    list-style: none;
    padding: 0;
}

.SC_social-media-icons li {
    display: inline-block;
    margin-right: 10px;
}

.SC_social-media-icons li:last-child {
    margin-right: 0;
}

.SC_instagram-icon a {
    color: var(--instagram); 
}

.SC_facebook-icon a {
    color: var(--facebook); 
}

.SC_twitter-icon a {
    color: var(--twitter); 
}

.SC_linkedin-icon a {
    color: var(--linkedin); 
}

/* İkon Hover Renkleri */
.SC_instagram-icon a:hover {
    color: var(--instagram-hover); 
}

.SC_facebook-icon a:hover {
    color: var(--facebook-hover); 
}

.SC_twitter-icon a:hover {
    color: var(--twitter-hover); 
}

.SC_linkedin-icon a:hover {
    color: var(--linkedin-hover); 
}